@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

header_box {
    position: absolute;
    width: 2011px;
    height: 84px;
    left: 0px;
    top: 0px;
    background-color: #007765;
}

logo_box {
    position: absolute;
    width: 184px;
    height: 45px;
    left: 501px;
    top: 20px;
}

logo_small {
    position: absolute;
    left: 0.02%;
    right: 0%;
    top: 0%;
    bottom: -0.09%;
}

logo_Large {
    position: absolute;
    left: 0%;
    right: 75.55%;
    top: 0%;
    bottom: 0.09%;
}
