nav {
    justify-content: flex-end;
}

.search {
    margin-left: auto; /* авто отступ забирает всё пространство слева*/
    margin-right: auto; /* авто отступ забирает всё пространство справа и делит по протранству 2-1-2*/
}
