@media (max-width: 600px) { 
    /* Стиль для отображения в браузере 
    В @media можно указывать определённые типы устройств:
all – для всех;
print – для принтеров;
screen – для устройств с экранами;
speech – для программ чтения с экрана.
Логические операторы and, , (запятая), not и only предназначены для создания сложных медиа-запросов.
у нас для экрана, width <= 600px*/
    body {
     font-family: Arial, sans-serif; 
     font-size: 1rem; /* Размер шрифта */
     color: #000080;
    }

    h1 {
     color: #a0522d;
     padding: 2px; /* Поля вокруг текста */
    }

    h2 {
     color: #556b2f; /* Цвет текста */
     margin: 0; /* Убираем отступы */
    }

    img {
        width: 100px;
    }
    
    p {
     margin-top: 0.5rem; /* Отступ сверху */
     padding: 0;
    }

    .left, .right {
        float: none;
    }

}

@media print {  /* Скрытие лишних элементов - Т.к. на бумаге элементы навигации, баннеры, шапка, подвал, и другие элементы не несут какой либо пользы, то лучше их скрыть или оставить в них только самое важное. */
    * {
        background-image: none;
    }

    
    aside, footer {
        display: none;
    }
        
    /* Удаление лишних стилей - Тени и другие эффекты дизайна лучше убрать, также следует установить черный цвет шрифта. */
    body { /* Размер страницы - Лист в формате А4 имеет размер 210x297 мм, его можно указать*/
        font-size: 10pt;
        line-height: 1.2;
        margin: 0;
        color: #000;
        background-color: #fff;
        font-family: 'Times New Roman', Times, serif;
    }

    @page { /* Поля - В целях экономии бумаги лучше использовать минимальные поля */
        margin: 20mm 10mm 20mm 20mm;
    } 

    h1, h2 {
		font-size: 20pt;
	}

    img {
        width: 100px;
    }

    p { /* Размер шрифта - Если на сайте размер шрифтов указан в пикселях, то при печати размер будет больше чем на экране. Поэтому нужно выставить новые значения*/
        font-size: 15pt;
        line-height: 1.2;
        padding: 0;
        margin: 0;
    }

    article {
        width: 90%;
    }
}

/* 
Печать фона - По умолчанию браузеры не печатают background у элементов, но его можно пустить на печать принудительно.

Для скрытия не нужного контента в HTML-коде, можно добавить к скрываемым элементам класс noprint (или настроить элемент на показ только при печати). 
@media print{
	.element {
		display: block;
	} 
}

Отображение URL в ссылках

Печать ссылок бесполезна т.к. будет не известно, куда они ведут. Можно добавить приписку URL рядом с анкором (исключая якорные ссылки).

@media print { 
	a[href^="http"]:after {
		content: " (" attr(href) ")";
	}
}

*/