@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*импорт не слишком удобный при сильной загруженности сайта*/

body {
    font-family: "Roboto", sans-serif;
    width: 700px;
}

.header{
    border: 1px gold solid;
    background-color: beige;
    color: green;
    padding: 15px;
}

.footer{
height: 100px;
border: 1px gold solid;
background-color: black;
color: white;
}

main{
    /*height: 500px;*/
    background-color: rgb(100, 100, 100);
    padding: 20px;
}

video{
    width: 90%;
}
/*при указании процентов, это всегда от родителя*/