html {
    font-size: 62.5%; /*этот шрифт соответствует 10px, наш шрифт 16 px, т.е.  Х = 10 * 100 / 16 = 62,5 % от того,
    что установлено у пользователя в дефолтных настройках*/
}
/* Header */
body {
    font-size: 2rem; /* в нашем браузерею мы идем из того, что мы установили в html */
    background-color: grey;
}

/*Main content*/
div {
width: 450px; /* (45rem)теперь у нас все абзацы одинаковой ширины*/
margin: 0 auto; /*оцентрованные*/
}

.box-one {
    background-color: beige;
    color: black;
    border: solid #008000 1.5rem; /*это зеленый на 16-тиричной системе*/
    padding: 2rem;
    /*если есть отступы, это значит, что у нас есть бордюр, и должны учитывать ширину паддинга, контента и бордюра*/
    /*margin: 2rem;*/
}

/*Footer*/
.box-two {
    background-color: azure;
    color: red;
    border:  solid rgb(209, 44, 231) 1.5rem;
    padding: 2rem;
    box-sizing: border-box; /*работает от бордюра до бордюра*/
    /* box-sizing: content-box; - ширина ориеттируется только на контент*/
}
/* 
для контента 500px + 20 + 20 + 15 + 15 

rem - относительая величина (смартфон)
px - абсолютная величина (монитор)

*/